body{
	font-family: 'Josefin Slab', serif;
}

/****** Titres******/
nav .navbar-brand {
	font-family: 'Amatic SC', cursive;
}

.jumbotron {
	background-color: #ffefd6;
}

.jumbotron .titre {
	font-family: 'Amatic SC', cursive;
}

.jumbotron p {
	font-family: 'Josefin Slab', serif;
}
.jumbotron p small{
	font-size: 11px;

}
/****** panel ******/
.item h3{
	font-family: 'Amatic SC', cursive;
}
.item{

	font-family: 'Josefin Slab', serif;
}


/******footer *****/
footer{
	font-family: 'Josefin Slab', serif;
}

.custom {
    width: 120px;
}
